.nav-bar {
    width: 100%;
    background: #ffffff;
    border-radius: 0 0 100% 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    position: relative;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-link,
.nav-sub-link {
    padding: 1rem;
    text-decoration: none;
    display: block;
    color: #000000;
}

.sub-menu {
    list-style: none;
    flex-direction: column;
    position: absolute;
    background: #ffffff;
    display: none;
    min-width: 100px;
}

.nav-item:hover > .sub-menu {
    display: block;
}

.nav-sub-link {
    border-bottom: 1px solid;
}

    .nav-sub-link:hover.nav-link {
        background: red;
    }

.nav-btn {
    padding: 0.5rem;
    width: 3.5rem;
    background: #a3a0a0;
    margin: auto;
}

    .nav-btn:hover {
        background: #c2c2c2;
    }

.icon {
    border: 1px solid #000000;
    width: 80%;
    margin: auto;
}

.hide {
    top: -500px;
}

.up-btn {
    position: relative;
    top: -85px;
}

.wrapper-form {
    grid-area: body;
    margin-top: 5rem;
}

form {
    width: 40rem;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background: rgba(223, 223, 223, 0.9);
}

    form h2 {
        grid-column-start: 1;
        grid-column-end: -1;
        padding: 0.5rem;
    }

    form label {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0.5rem;
    }

    form input {
        grid-column-start: 2;
        grid-column-end: -1;
        padding: 0.5rem;
    }

    form .btn-group {
        grid-column-start: 2;
        grid-column-end: -1;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    background-image: url('img/images.jpg');
    min-height: 100vh;
    text-align :center;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF;
    margin: auto;
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-areas: ". body .";
    align-items: start;
}

.wrapper-img {
    width: 100%;
    min-height: 100vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-areas: ". body .";
}

.header {
    background: #000;
    color: #FFF;
    text-align: center;
    padding: 1rem 0;
}

.wrapper-hero {
    grid-area: body;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 50vh;
}


.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "info info logo";
    min-width: 500px;
    width: 40vw;
    background-color: rgba(223, 223, 223, 0.9);
    padding: 2rem;
}

.hero-info {
    grid-area: info;
}

.hero-logo {
    grid-area: logo;
    background-color: goldenrod;
}

.hero-btns {
    text-align: center;
}

.my-btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem;
    margin: 1rem;
}

.my-btn-primary {
    background-color: #0da4fc;
    color: #FFF;
}

    .my-btn-primary:hover {
        background-color: #047dc4;
    }

.my-btn-danger {
    background-color: #fc0d0d;
    color: #FFF;
}

    .my-btn-danger:hover {
        background-color: #920202;
    }

.my-btn-success {
    background-color: #0da4fc;
    color: #FFF;
}

    .my-btn-success:hover {
        background-color: #047dc4;
    }

table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    grid-area: body;
}

    table tr {
        padding: 10rem;
        border-bottom: 1rem solid #FFF;
    }

tr th {
    background: #808080;
    color: #FFF;
    padding: 1rem;
    text-align: center;
}

tr td {
    background: rgb(185, 185, 185);
    color: #FFF;
    padding: 1rem;
}

th, td {
    padding: 0.5rem;
}
