* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF;
    margin: auto;
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-areas: ". body .";
    align-items: start;
    margin-left: 50vw;
}
.wrapper-img {
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/images.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-areas: ". body .";
}

.header {
    background: #000;
    color: #FFF;
    text-align: center;
    padding: 1rem 0;
}

.wrapper-hero {
    grid-area: body;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 50vh;
}


.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "info info logo";
    min-width: 500px;
    width: 40vw;
    background-color: rgba(223, 223, 223, 0.9);
    padding: 2rem;
}
.hero-info {
    grid-area: info;
}

.hero-logo{
    grid-area: logo;
    background-color: goldenrod;
}

.hero-btns {
    text-align: center;
}

.my-btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem;
    margin: 1rem;
}

.my-btn-primary {
    background-color: #0da4fc;
    color: #FFF;
}
.my-btn-primary:hover {
    
    background-color: #047dc4;
}

.my-btn-danger {
    background-color: #fc0d0d;
    color: #FFF;
}
.my-btn-danger:hover {
    
    background-color: #920202;
}

.my-btn-success {
    background-color: #0da4fc;
    color: #FFF;
}
.my-btn-success:hover {
    
    background-color: #047dc4;
}