table{
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    grid-area: body;
}

table tr {
    padding: 10rem;
    border-bottom: 1rem solid #FFF;
}
tr th {
    background: #808080;
    color: #FFF;
    padding: 1rem;
    text-align: center;
}

tr td {
    background: rgb(185, 185, 185);
    color: #FFF;
    text-align: center;
}
